
.counter-container {
  display: flex;          
  gap: 20px;              
  justify-content: center;
  align-items: center;    
  margin-top: 50px;
  flex-direction: row;    
}

.btn, .btn2, .btn3 {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 40px;
}

.btn {
  color: black;
  background-color: green;
}

.btn2 {
  color: white;
  background-color: red;
}

.btn3 {
  color: crimson;
  background-color: burlywood;
}
